[Desktop Entry]
Version=1.0
Name=Look And Feel
Comment=Change plasma theme during the day
Exec=/usr/bin/daemon -frB --pidfiles=~/.run --name=lookandfeel /usr/bin/lookandfeel
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
